.projects-description__img{
    display: none;
}


@media screen and (max-width: 1300px) {
    .projects-description__img{
        display: flex;
        width: 340px;
        height: 241px;
        background-image: url(../../../img/progects-mobileBGND.jpg);
        margin-top: 67px;
    }
    .projects-description__img.question-block__img{
        background-image: url(../../../img/question-mobileBGND.jpg);
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        align-self: center;
        z-index: 5;
}
}

