/* body {
    max-width: 1440px;
} */

a:hover {
    color:#E3B873;
    cursor: pointer;
}

.display-none {
    display: none;
}

li{
    list-style-type: none;
}

/* .container {
    max-width: 1256px;
    margin: 0 auto;
} */