.map-mobile{
    display: none;
}


@media screen and (max-width: 1300px) {
    .map-mobile{
        background-color: black;
        display: flex;        
    }
}

@media screen and (max-width: 1300px) {
    .map-mobile__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;
    }
}