.exposition{
    background-image: url(../../img/Group\ 22-bgnd.png);
    height: 864px;
    width: 1440px;
    margin-top: 196px;
    display: grid;
    grid-template-columns: 500px 354px 354px;
    /* grid-column-gap: 80px; */
    color: white;
}

