.exposition{
    background-image: url(../../img/Group\ 22-bgnd.png);
    height: 864px;
    max-width: 1440px;
    margin-top: 196px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 80px;
    color: white;
}

@media screen and (max-width: 1300px) {
    .exposition{
        margin-top: 0;
        display: none;
    }
}

