.hero-img {
    position: relative;
    background-image: url(../../img/hero-block-back.jpg);
    background-size: cover;
	width: 100%;
    max-width: 1440px;
    height: 707px;
}

.hero-img:before {
    content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, .5);
}