.projects-description__title {
    color: #E3B873;
    font-family: "Yeseva One";
    text-transform: uppercase;
    width: 253px;
    font-weight: 300;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
}