.projects__links {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Yeseva One";
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 45px;
}

@media screen and (max-width: 1300px) {
    .projects__links{
        display: none;
    }
}
