.online-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
    width: 817px;
    /* position: absolute;
    top: 1555px;
    left: 311px; */
    margin-bottom: 100px;
}

@media screen and (max-width: 1300px) {
    .online-control {
        position: relative;
        top: 0;
        left: 0;
        background-color: black;
        width: 375px;
        margin-bottom: 0;
    }
}