.online-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
    width: 817px;
    position: absolute;
    top: 1555px;
    left: 311px;
}