.hero-section {
    margin-top: -530px;
    margin-left: 134px;
    width: 676px; 
}

@media screen and (max-width: 1300px) {
    .hero-section {
        width: 375px;
        margin-top: -400px;
        margin-left: 18px;
        margin-right: 18px;
    }
}