.hero-section {
    position: absolute;
    top: 277px;
    left: 134px;
    width: 676px;
    height: 305px;    
}

@media screen and (max-width: 1300px) {
    .hero-section {
        width: 375px;
        left: 18px;
        top: 142px;
    }
}