.question-fieldset__input{
    border: none;
    border-bottom: 1px solid #363636;
    background-color: black;

}

.question-fieldset__input::placeholder {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}