.clients {
    margin-top: 100px;
    margin-bottom: 0;
    height: 1000px;
    background-image: url(../../img/Frame-bgd-clients.svg);
    background-size: contain;

}

@media screen and (max-width: 1300px) {
    .clients{
        display: none;
    }
}
