
@media screen and (max-width: 1300px) {
    .question-block__img{
        display: flex;
        width: 340px;
        height: 241px;
        margin-top: 67px;
        background-image: url(../../../img/question-mobileBGND.jpg);
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        align-self: center;
        z-index: 5;
    }
}