.menu__item {
    font-size: 11px;
    color: #FFFFFF;
    list-style-type: none;
    font-family: "Nunito Sans";
    height: 10px;
    text-decoration:none;
}

/* .menu__item:first-child {
    color:#E3B873;
} */

/* .menu__item:hover {
    color:#E3B873;
    opacity: .5;
} */