.element__card {
    position: absolute;
    top: 294px;
    left: 31px;
    box-sizing: border-box;
    background-color: white;
    padding: 25px 29px 49px 34px;
    width: 330px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

@media screen and (max-width: 1300px) {
    .element__card{
        left: 0;
        top: 223px;
        width: 270px;
        height: 241px;

    }
}
