.element__card {
    position: absolute;
    z-index: 1;
    top: 294px;
    left: 31px;
    right: 31px;
    box-sizing: border-box;
    background-color: white;
    padding: 25px 29px 49px 34px;
    width: 330px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}