.hero-section__title {
    font-family: "Yeseva One";
    font-size: 40px;
    color: #FFFFFF;
    line-height: 139%;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (max-width: 1300px) {
    .hero-section__title {
        font-weight: 400;
        font-size: 23px;
        line-height: 132.83%;
    }
}