.button_hero{
    width: 207px;
    height: 51px;
    padding: 0;
}

.button_hero:last-child{
    background-color: transparent;
    border: solid 1px white;
    margin-left: 20px;
}


@media screen and (max-width: 1300px) {
    .button_hero{
        width: 338px;
        align-self: flex-start;
    }
    .button_hero:last-child{
        margin-left: 0;
        margin-top: 26px;
    }
}