.element__button {
    z-index: 2;
    position: absolute;
    text-shadow: none;
    top: 565px;
    left: 32px;
    border-radius: 0;
}


@media screen and (max-width: 1300px) {
    .element__button {
        left: 0;
        top: 445px;
        width: 270px;
    }
}
