.label {
    cursor: pointer;
}
.checkbox{
    display: none;
}
.fake{
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
}
.fake::before{
    content:"\2714";
    opacity: 0;
    transition: .2s;
}

.checkbox:checked + .fake::before{
    opacity: 1;
}

.text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 163.68%;
    color: #181818;
}

.text_second {
    color: #FFFFFF;
}

.third-checkbox{
    margin-top: 30px;
}

.text_third{
    color: #FFFFFF;
}

.third-checkbox .fake{
    margin-left: 117px;
}

@media screen and (max-width: 1300px) {
    .first-checkbox {
        color: white;
        align-self: start;
        margin-left: 18px;
        margin-bottom: 61px;
    }
    .first-checkbox .text{
        color: white;
    }
    .third-checkbox .fake{
        margin-left: 18px;
    }
}




