.phone__link {
    text-decoration: none;
    color: #E3B873;
    font-size: 11px;
    font-family: "Nunito Sans";
}

@media screen and (max-width: 1300px) {
    .phone__link{
        color: white;
    }
}