.element {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    position: relative;

}

.element:last-child {
    margin-right: 0;
}

.element li{
    list-style-type:disc;
}

@media screen and (max-width: 1300px) {
    .element{
        margin: 40px 18px 0 18px;
        width: 340px;
        height: 484px;
        margin-bottom: 59px;
    }
}
