.question-block_mobile{
    display: none;
}


@media screen and (max-width: 1300px) {
    .question-block_mobile{
        display: block;
        width: 375px;
        height: 1000px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        align-self: center;
        background-color: white;
        position: relative;
        z-index: 0;
    }
}

