.hero-section__text {
    font-family: "Nunito Sans";
    font-size: 22px;
    color: #FFFFFF;
    line-height: 167%;
    margin-top: 19px;
    margin-bottom: 20px;
}

@media screen and (max-width: 1300px) {
    .hero-section__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 135.84%;
    }
}
