.request {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 200px;
    flex-wrap: wrap;
}

@media screen and (max-width: 1300px) {
    .request {
        display: none;
    }
}
