.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin-left: auto;
    width: 100%;
    max-width: 560px;
}

@media screen and (max-width: 1300px) {
    .menu {
        display: none;
    }
}
